@model KakeiboApp.Models.Views.MainViewModel

@{
    var balance = Model.TotalIncome - Model.TotalExpense;
}

<p name="shuusi">収支: @balance 円</p>
<p name="shuunyuu">収入: @Model.TotalIncome 円</p>
<p name="sishutu">支出: @Model.TotalExpense 円</p>

<table class="table">
    <thead>
        <tr>
            <th>名前</th>
            <th>カテゴリ</th>
            <th>金額</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Transactions)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.CategoryName</td>
            <td>@item.Amount</td>
        </tr>
    }
    
    </tbody>

  